{% extends 'experto/master' %}
{% block content %}


<h1>Bienvenido a KolbFinder!</h1>
<p> La plataforma diseñada para la gestión de contenidos y aprendizaje espeializado</p>

<h3>Catalogadores Totales:</h3>
 <table style="width:100%" >
  <tr>
    <th>Tipo Catalogador</th>
    <th>Numero</th>
  </tr>
  <tr>
    <td>Convergente</td>
    <td>{{ cat_conteo[0] }}</td>
  </tr>
  <tr>
    <td>Divergente</td>
    <td>{{ cat_conteo[1] }}</td>
  </tr>
  <tr>
    <td>Asimilador</td>
    <td>{{ cat_conteo[2] }}</td>
  </tr>
  <tr>
    <td>Acomodador</td>
    <td>{{ cat_conteo[3] }}</td>
  </tr>
</table> 

<h3>Crear Usuario</h3>
<br>
<br>
<br>
<br>			
<h3>Agregue Nuevos Calificadores</h3>
{{ form.open({action: 'UsersController.create'}) }}
  {{ csrfField }}

  {{ form.select('type', ['Convergente','Divergente','Asimilador','Acomodador'], null, 'Tipo de aprendizaje usuario') }}
  <br>
  {{ form.label('email', 'Correo Electronico') }}
  {{ form.text('email') }}
  <br>
  {{ form.label('username', 'Nombre de Usuario') }}
  {{ form.text('username') }}
  <br>
  {{ form.label('password', 'Contraseña') }}
  {{ form.password('password') }}

  <div class="button">
	{{ form.submit('Registrar') }}
  </div>
{{ form.close() }}

{% endblock %}

