{% extends 'master' %}
{% block content %}

<h1> Hola {{ currentUser.username }}, usuario del tipo {{ type }}!!! </h1>

<p>Todavia el profesor, no ha subido material para calificar</p>

{% endblock %}
