{% extends 'calificador/master' %}
{% block content %}

<h2> Hola {{ currentUser.username }}, tipo de usuario {{ type }}</h2>

{% if not catalogos %}
<p>Todavia el profesor, no ha subido material para calificar</p>

{% else %}
<h3>Catalogos por revisar</h3>
<ul>
{% for item in catalogos %}
	
	<li><a href="{{ '/calificador/catalogo?id=' + item.id }}">{{ item.titulo }}</a></li>
{% endfor %}
</ul>

{% endif %}

{% if catalogados.length === 0 %}
sadf
{% else %}
<h3>Catalogos revisados</h3>
<ul>
	{% for item in catalogados %}
		<li>{{ item.titulo }}</li>
	{% endfor %}
</ul>
{% endif %}


{% endblock %}
